<%- include('partials/header') %>

    <main>
        <h2>500 - Internal Server Error</h2>
        <p>Sorry, something went wrong on our end.</p>
        <a href="/">Go back to Home</a>
    </main>

<%- include('partials/footer') %>