<%- include('partials/header') %>

    <main>
        <h2>Add New Recipe</h2>
        <form action="/recipe/new" method="POST">
            <label for="name">Recipe Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <p>Work Level:</p>
            <div class="work-level-options">
                <input type="radio" id="work_level_1" name="work_level" value="1" required>
                <label for="work_level_1">1</label>
                <input type="radio" id="work_level_2" name="work_level" value="2" required>
                <label for="work_level_2">2</label>
                <input type="radio" id="work_level_3" name="work_level" value="3" required>
                <label for="work_level_3">3</label>
                <input type="radio" id="work_level_4" name="work_level" value="4" required>
                <label for="work_level_4">4</label>
                <input type="radio" id="work_level_5" name="work_level" value="5" required>
                <label for="work_level_5">5</label>
            </div>

            <label for="time_minutes">Time (minutes):</label>
            <input type="number" id="time_minutes" name="time_minutes" required>

            <button type="submit">Add Recipe</button>
        </form>
    </main>

<%- include('partials/footer') %>